#title {
    font-family: 'Fjalla One', sans-serif;
    color: black;
}

#site-title {
    font-family: 'Fjalla One', monospace;
    color: black;
}

#date {
    color: #4E4E50;
    font-style: italic;
}

body {
    font-family: 'Nunito', serif;
    background-color: white;
    color: black;
}

h5 {
    font-weight: bold;
}

pre {
    background-color: lightgrey;
	
	padding: 8px;
	
    font-family: 'Fjalla One', Courier, monospace;
    color: black;
}

a {
    color: grey;
    text-decoration: none;
}

.color:hover {
    color: black;
}

.cursor {
    font-weight: 100;
    color: black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        back: #1A1A1D;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: #1A1A1D;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: #1A1A1D;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: #1A1A1D;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: #1A1A1D;
    }
    50% {
        color: white;
    }
}