#title {
    font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Fugaz One', cursive;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: red;
    text-decoration: none;
}

.color:hover {
    color: black;
}