#title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

#site-title {
    font-family: 'Source Code Pro', monospace;
    color: black;
}

body {
    font-family: 'Gentium Book Basic', serif;
}

h5 {
    font-weight: bold;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: red;
    text-decoration: none;
}

.color:hover {
    color: black;
}

.cursor {
    font-weight: 100;
    color: black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        back: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}